<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("partials/head") %>
        <title>Home PY Grupo 3</title>
        <link href="/css/styleProductDetail.css" rel="stylesheet"/>
        <link href="/css/styleMain.css" rel="stylesheet"/>
    </head>
<body>
   
    <header>
        <%- include("partials/header") %>  
    </header>    
    

    <main>
        <div class="container-img">
            <form class="form-star">
                <p class="form-p clasificacion">
                  <input id="radio1" type="radio" name="estrellas" value="5" class="input-start">
                  <label for="radio1" class="label-start">★</label>
                  <input id="radio2" type="radio" name="estrellas" value="4" class="input-start">
                  <label for="radio2" class="label-start">★</label>
                  <input id="radio3" type="radio" name="estrellas" value="3" class="input-start">
                  <label for="radio3" class="label-start">★</label>
                  <input id="radio4" type="radio" name="estrellas" value="2" class="input-start">
                  <label for="radio4" class="label-start">★</label>
                  <input id="radio5" type="radio" name="estrellas" value="1" class="input-start">
                  <label for="radio5" class="label-start">★</label>
                </p>
              </form>
              <div class="galery">
                <img src="<%= celular.imagen.img2 %>" alt="<%= celular.nombre %>">
                <img src="<%= celular.imagen.img4 %>" alt="<%= celular.nombre %>">
                <img src="<%= celular.imagen.img3 %>" alt="<%= celular.nombre %>">                
            </div>

        </div>
        
        <div class="container-info-product">
            <h3><%= celular.nombre %></h3>        
          <div >
              <div class="container-product-detail">
                  <div class="form-group">
                      <label for="colour" name="colur">Color</label>                    
                        <input type="radio" name="colour" value="<%= celular.colores.color1 %> "><%= celular.colores.color1 %> 
                        <input type="radio" name="colour" value="<%= celular.colores.color2 %> "><%= celular.colores.color2 %> 
                        <input type="radio" name="colour" value="<%= celular.colores.color3 %> "><%= celular.colores.color3 %>         
                   </div>
                <div class="form-group">
                    <label for="capacity" name="capacity">Capacidad</label> 
                        <button><%= celular.capacidad.cap1 %></button>
                        <button><%= celular.capacidad.cap2 %></button>
                        <button><%= celular.capacidad.cap3 %></button>       
                </div>
            </div>

            <button class="btn-clean"> Limpiar </button>

            </div>

            <div class="container-add-cart">
                <div class="container-quantity">
                    <input type="number" placeholder="1" value="1" min="1" class="input-quantity"/> 
                    <div class="btn-increment-decrement">
                        <i class="fa-solid fa-chevron-up"></i>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div> 
                </div>
            </div>
            <div class="container-price"> 
                <span> $<%= celular.precio %> </span>
            </div>
            <button class="button-add">
                <i class="fa-solid fa-plus"></i>
                Agregar al carrito
            </button>

            <div class="container-description">
                <div class="title-description">
                    <h3>Descripción</h3>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-description">
                   <p><%= celular.descripcionDetalle %></p>
                </div>

            </div>

            <div class="container-additional-information">
                <div class="title-additional-information">
                    <h3>Información Adicional</h3>
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
                <div class="text-additional-information">
                    <p><%= celular.infoAdicional %></p>
                </div>
            </div>

            <div class="container-social">
                <span>Compartir</span>
                <div class="container-button-social-network">
                    <a href="#"> <i class="fa-brands fa-instagram"></i></a>
                    <a href="#"> <i class="fa-brands fa-twitter"></i></a>  
                    <a href="#"> <i class="fa-brands fa-facebook"></i></a>                                                     
                </div>
            </div>

        </div>

    </main>
    <section class="container-technical-characteristics">
        <h3><%= celular.nombre %></h3>
        <form>
        <div class="container-characteristics">
            <table class="content-table">
                
            <thead><tr><th> Características Técnicas </th></tr></thead>

            <tbody>
                <tr>
                    <td>Marca:</td>
                    <td><%= celular.marca %></td>
                </tr>

                <tr>
                    <td>Modelo:</td> 
                    <td><%= celular.nombre %></td>
                </tr>

                <tr>
                    <td>Tamaño pantalla:</td> 
                    <td><%= celular.pantalla %></td>
                </tr>

                <tr>
                    <td>Cámara principal:</td>
                    <td><%= celular.camaraPrincipal %></td>
                </tr>

                <tr>
                    <td>OS:</td>
                    <td><%= celular.os %></td>
                </tr>
            </tbody>
            
           </table>
        </div>
    </form>
    </section>

    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src="/images/iPhone14Proenfrentado.jpg" alt="iPhone14 pro">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>iPhone14 Pro</h3>
                    </div>
                    <div class="container-price">
                        $ 1.206.490
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/images/iPhoneSEenfrentado.jpg" alt="iPhone SE">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>iPhone SE</h3>
                    </div>
                    <div class="container-price">
                        $ 659.009
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/images/iPhone14enfrentado.jpg" alt="iPhone 14">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>iPhone 14</h3>
                    </div>
                    <div class="container-price">
                        $ 1.149.990
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/images/iPhone12enfrentado.jpg" alt="iPhone 12">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>iPhone 12</h3>
                    </div>
                    <div class="container-price">
                        
                        $ 669.999
                    </div>
                </div>
            </div>
        </div>
      
    </section>
    <footer>
        
        <%- include("partials/footer") %>
        
    </footer>
    
</body>
</html>