<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Create Product</title>
    <link rel="stylesheet" href="/css/styleMain.css">
    <link rel="stylesheet" href="/css/styleProductCreate.css">
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <!--<script src="/js/productCreateValidator.js" defer></script>-->
</head>
<body>
    <header class="header">
    <%- include("partials/header") %>
    </header>
    <form action="/products" method="POST" enctype="multipart/form-data" class="formulario" id="form">
        <h1 class="titulo-formulario">Identificá tu producto</h1>
        <div class="input-form">
            <div class="custom-select">
                <select name="brand" id="brand">
                    <% for (let i = 0; i < capacities.length; i++) {  %>
                    <option value="<%= brands[i].id_brand %>"><%= brands[i].brand %></option>
                    <%  } %>
                </select>
            </div>
        </div>
        <div class="input-form">
            <input type="text" name="name" id="name" required="required">
            <label for="name">Nombre</label>
            <span class="errorMsg" id="nameError"></span>
        </div>
        <div class="input-form">
            <input type="text" name="description" id="description" required="required">
            <label for="description">Descripción</label>
            <span class="errorMsg" id="descriptionError"></span>
        </div>
        <div class="input-form">
            <input type="text" name="featured_desc" id="featured_desc">
            <label for="featured_desc">Descripción destacada</label>
            <span class="errorMsg" id="detailError"></span>
        </div>
        <div class="control-formulario">
            <input type="file" multiple name="images" accept="images/*" class="control">
        </div>
        <div class="input-form">
            <input type="number" name="price" id="price" required="required">
            <label for="price">Precio</label>
            <span class="errorMsg" id="priceError"></span>
        </div>
        <div class="input-form">
            <input type="number" name="discount" id="discount" required="required">
            <label for="discount">Descuento</label>
            <span class="errorMsg" id="discountError"></span>
        </div>
        <div class="input-form">
            <input type="number" name="rating" id="rating" required="required">
            <label for="rating">Calificación</label>
            <span class="errorMsg" id="ratingError"></span>
        </div>
        <div class="color-form">
            <label for="color" class="cap-text">Color:</label>
            <div class="color-form2">
                <div class="checkbox-form2">
                    <% for (let i = 0; i < colors.length; i++) {  %>
                    <label class="custom-checkbox2">
                        <input type="checkbox" name="color" value="<%= colors[i].color %> ">
                        <span class="checkmark2"></span>
                        <label class="checkbox-text2"><%= colors[i].color %></label>
                    </label>
                    <%  } %>
                </div>
            </div>
        </div>
        <div class="cap-cat-form">
            <div class="capacity-form">
                <label for="capacity" class="cap-text">Capacidad:</label>
                <div class="checkbox-form">
                    <% for (let i = 0; i < capacities.length; i++) {  %>
                    <label class="custom-checkbox">
                        <input type="checkbox" name="capacity" value="<%= capacities[i].capacity %> ">
                        <span class="checkmark"></span>
                        <label class="checkbox-text"><%= capacities[i].capacity %></label>
                    </label>
                    <%  } %>
                </div>
            </div>
            <div class="category-form">
                <label for="featured" class="cat-text">Categoría:</label>
                <div class="radio-form">
                    <label class="custom-radio">
                        <label class="radio-text">Normal</label>
                        <input type="radio" name="featured" value="0" checked>
                        <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio">
                        <label class="radio-text">Destacado</label>
                        <input type="radio" name="featured" value="1">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="input-form">
            <input type="text" name="os" id="os" required="required">
            <label for="os">Sistema operativo</label>
            <span class="errorMsg" id="osError"></span>
        </div>
        <div class="input-form">
            <input type="text" name="screen" id="screen" required="required">
            <label for="screen">Dimensiones pantalla</label>
            <span class="errorMsg" id="screenError"></span>
        </div>
        <div class="input-form">
            <input type="text" name="camera" id="camera" required="required">
            <label for="camera">Camara principal</label>
            <span class="errorMsg" id="cameraError"></span>
        </div>
        <button type="submit" class="boton-formulario">Publicar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
        <button class="boton-formulario">
            <a href="/products">Volver</a>
        </button>
    </form>
   
<footer class="footer">
    <%- include("partials/footer") %>
</footer>

    </body>
</html>