<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Edit Product</title>
    <link rel="stylesheet" href="/css/styleMain.css">
    <link rel="stylesheet" href="/css/styleProductEdit.css">
    <script src="/js/burgerMenu.js" defer></script>
</head>
<body>
    <header class="header">
    <%- include("partials/header") %>
    </header>
    <form action="/products/update/<%= product.id_product %>?_method=PUT" method="POST" class="formulario">
        <h1 class="titulo-formulario">Editar el producto:</h1>
        <% /* %>
        <div class="input-form">
            <select name="brand" id="brand">
                <% for (let i = 0; i < brands.length; i++) {  %>
                <option value="<%= brands[i].id_brand %>"><%= brands[i].brand %></option>
                <%  } %>
            </select>
        </div>
        <% */ %>
        <div class="input-form">
            <input type="text" name="name" required="required" value="<%= product.name %>">
            <label for="">Nombre</label>
        </div>
        <div class="input-form">
            <input type="text" name="description" required="required" value="<%= product.description %>">
            <label for="">Descripción</label>
        </div>
        <div class="input-form">
            <input type="text" name="featured_desc" id="featured_desc" value="<%= product.featured_desc %>">
            <label for="featured_desc">Descripción destacada</label>
        </div>
        <% /* %>
        <div class="control-formulario">
            <input type="file" multiple name="images" accept="images/*" class="control" value="<%= product.images %>">
        </div>
        <% */ %>
        <div class="input-form">
            <input type="number" name="price" required="required" value="<%= product.price %>">
            <label for="">Precio</label>
        </div>
        <div class="input-form">
            <input type="number" name="discount" required="required" value="<%= product.discount %>">
            <label for="">Descuento</label>
        </div>
        <div class="input-form">
            <input type="number" name="rating" required="required" value="<%= product.rating %>">
            <label for="">Calificación</label>
        </div>
        <% /* %>
        <div class="color-form">
            <label for="color" class="cap-text">Color:</label>
            <div class="color-form2">
                <div class="checkbox-form2">
                    <% for (let i = 0; i < colors.length; i++) {  %>
                    <label class="custom-checkbox2">
                        <input type="checkbox" name="color" value="<%= colors[i].color %> ">
                        <!--colors[i].color-->
                        <!--product.colors[i].color.includes("colors[i].color") ? "checked" : ""-->
                        <span class="checkmark2"></span>
                        <label class="checkbox-text2"><%= colors[i].color %></label>
                    </label>
                    <%  } %>
                </div>
            </div>
        </div>
        <% */ %>
        <% /* %>
        <div class="cap-cat-form">
            <div class="capacity-form">
                <label for="capacity" class="cap-text">Capacidad:</label>
                <div class="checkbox-form">
                    <% for (let i = 0; i < capacities.length; i++) {  %>
                    <label class="custom-checkbox">
                        <input type="checkbox" name="capacity" value="<%= capacities[i].capacity %> ">
                        <span class="checkmark"></span>
                        <label class="checkbox-text"><%= capacities[i].capacity %></label>
                    </label>
                    <%  } %>
                </div>
            </div>
        <% */ %>
            <div class="category-form">
                <label for="category" class="cat-text">Categoría:</label>
                <div class="radio-form">
                    <label class="custom-radio">
                        <label class="radio-text">Normal</label>
                        <input type="radio" name="featured" value="0" <%= checked=" (product.featured == false) { checked }" %>>
                        <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio">
                        <label class="radio-text">Destacado</label>
                        <input type="radio" name="featured" value="1" <%= checked=" (product.featured == true) { checked }" %>>
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        <% /* %>
        </div>
        <% */ %>
        <div class="input-form">
            <input type="text" name="os" required="required" value="<%= product.os %>">
            <label for="">Sistema operativo</label>
        </div>
        <div class="input-form">
            <input type="text" name="screen" required="required" value="<%= product.screen %>">
            <label for="">Dimensiones pantalla</label>
        </div>
        <div class="input-form">
            <input type="text" name="camera" required="required" value="<%= product.camera %>">
            <label for="">Camara principal</label>
        </div>
        <button type="submit" class="boton-formulario">Actualizar</button>
        <button class="boton-formulario">
            <a href="/products/crud">Volver</a>
        </button>
    </form>
   
<footer class="footer">
    <%- include("partials/footer") %>
</footer>

    </body>
</html>