<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Create Product</title>
    <link rel="stylesheet" href="/css/styleMain.css">
    <link rel="stylesheet" href="/css/styleProductCreate.css">
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <!--<script src="/js/productCreateValidator.js" defer></script>-->
    <!--<script src="https://cdn.tailwindcss.com"></script>-->
    <script src="/js/burgerMenu.js" defer></script>
</head>
<body>
    <header class="header">
    <%- include("partials/header") %>
    </header>
    <form action="/products/store" method="POST" enctype="multipart/form-data" class="formulario" id="form">
        <h1 class="titulo-formulario">Identificá tu producto</h1>
        <div class="input-form">
            <div class="custom-select">
                <select name="brand" id="brand">
                    <% for (let i = 0; i < brands.length; i++) {  %>
                    <option value="<%= brands[i].id_brand %>" <%= oldData && oldData.brand === brands[i].id_brand ? "selected" : "" %>><%= brands[i].brand %></option>
                    <%  } %>
                </select>
                <% if (errors && errors.brand) { %>
                    <p class="error-msg"><%= errors.brand.msg %></p>
                <% } %>
            </div>
        </div>
        <div class="input-form">
            <input type="text" name="name" id="name" value="<%= oldData ? oldData.name : "" %>"/> <% if (errors && errors.name) { %>
                <p class="error-msg"><%= errors.name.msg %></p>
                <% } %>
                <span class="error"></span>
            <label for="name">Nombre</label>
        </div>
        <div class="input-form">
            <input type="text" name="description" id="description" value="<%= oldData ? oldData.description : "" %>"/> <% if (errors && errors.description) { %>
                <p class="error-msg"><%= errors.description.msg %></p>
                <% } %>
                <span class="error"></span>
            <label for="description">Descripción</label>
        </div>
        <div class="input-form">
            <input type="text" name="featured_desc" id="featured_desc" value="<%= oldData ? oldData.featured_desc : "" %>"/> <% if (errors && errors.featured_desc) { %>
                <p class="error-msg"><%= errors.featured_desc.msg %></p>
                <% } %>
                <span class="error"></span>
            <label for="featured_desc">Descripción destacada</label>
        </div>
        <div class="control-formulario">
            <input type="file" multiple name="images" accept="images/*" class="control" value="<%= oldData ? oldData.images : "" %>"/> <% if (errors && errors.images) { %>
                <p class="error-msg"><%= errors.images.msg %></p>
                <% } %>
                <span class="error"></span>
            <!--<div class="flex justify-center mt-8">
                <div class="max-w-2xl rounded-lg shadow-xl bg-gray-50">
                    <div class="m-4">
                        <label class="inline-block mb-2 text-gray-500">Imagenes del producto</label>
                        <div class="flex items-center justify-center w-full">
                            <label
                                class="flex flex-col w-full h-32 border-4 border-blue-200 border-dashed hover:bg-gray-100 hover:border-gray-300">
                                <div class="flex flex-col items-center justify-center pt-7">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-gray-400 group-hover:text-gray-600"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                                    </svg>
                                    <p class="pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600">
                                        Subir Imagenes</p>
                                </div>
                                <input type="file" multiple name="images" accept="images/*" class="control opacity-0">
                            </label>
                        </div>
                    </div>
                </div>
            </div>--> 
        </div>
        <div class="input-form">
            <input type="text" name="price" id="price" value="<%= oldData ? oldData.price : "" %>"/> <% if (errors && errors.price) { %>
                <p class="error-msg"><%= errors.price.msg %></p>
                <% } %>
                <span class="error"></span>
            <label for="price">Precio</label>
        </div>
        <div class="input-form">
            <input type="text" name="discount" id="discount" value="<%= oldData ? oldData.discount : "" %>"/> <% if (errors && errors.discount) { %>
                <p class="error-msg"><%= errors.discount.msg %></p>
                <% } %>
                <span class="error"></span>
            <label for="discount">Descuento</label>
        </div>
        <div class="input-form">
            <input type="text" name="rating" id="rating" value="<%= oldData ? oldData.rating : "" %>"/> <% if (errors && errors.rating) { %>
                <p class="error-msg"><%= errors.rating.msg %></p>
                <% } %>
                <span class="error"></span>
            <label for="rating">Calificación</label>
        </div>
        <div class="color-form">
            <label for="color" class="cap-text">Color:</label>
            <div class="color-form2">
                <div class="checkbox-form2">
                    <% for (let i = 0; i < colors.length; i++) {  %>
                    <label class="custom-checkbox2">
                        <input type="checkbox" name="color" value="<%= colors[i].color %> " <%= oldData && oldData.color === colors[i].color ? "checked" : "" %>>
                        <span class="checkmark2"></span>
                        <label class="checkbox-text2"><%= colors[i].color %></label>
                    </label>
                    <%  } %>
                    <% if (errors && errors.color) { %>
                    <p class="error-msg"><%= errors.color.msg %></p>
                    <% } %>
                    <span class="error"></span>
                </div>
            </div>
        </div>
        <div class="cap-cat-form">
            <div class="capacity-form">
                <label for="capacity" class="cap-text">Capacidad:</label>
                <div class="checkbox-form">
                    <% for (let i = 0; i < capacities.length; i++) {  %>
                    <label class="custom-checkbox">
                        <input type="checkbox" name="capacity" value="<%= capacities[i].capacity %> " <%= oldData && oldData.capacity === capacities[i].capacity ? "checked" : "" %>>
                        <span class="checkmark"></span>
                        <label class="checkbox-text"><%= capacities[i].capacity %></label>
                    </label>
                    <%  } %>
                    <% if (errors && errors.capacity) { %>
                    <p class="error-msg"><%= errors.capacity.msg %></p>
                    <% } %>
                    <span class="error"></span>
                </div>
            </div>
            <div class="category-form">
                <label for="featured" class="cat-text">Categoría:</label>
                <div class="radio-form">
                    <label class="custom-radio">
                        <label class="radio-text">Normal</label>
                        <input type="radio" name="featured" value="0" <%= oldData && oldData.featured === "0" ? "checked" : "" %>>
                        <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio">
                        <label class="radio-text">Destacado</label>
                        <input type="radio" name="featured" value="1" <%= oldData && oldData.featured === "1" ? "checked" : "" %>>
                        <span class="checkmark"></span>
                    </label>
                    <% if (errors && errors.featured) { %>
                    <p class="error-msg"><%= errors.featured.msg %></p>
                    <% } %>
                    <span class="error"></span>
                </div>
            </div>
        </div>
        <div class="input-form">
            <input type="text" name="os" id="os" value="<%= oldData ? oldData.os : "" %>"/> <% if (errors && errors.os) { %>
                <p class="error-msg"><%= errors.os.msg %></p>
                <% } %>
                <span class="error"></span>
            <label for="os">Sistema operativo</label>
        </div>
        <div class="input-form">
            <input type="text" name="screen" id="screen" value="<%= oldData ? oldData.screen : "" %>"/> <% if (errors && errors.screen) { %>
                <p class="error-msg"><%= errors.screen.msg %></p>
                <% } %>
                <span class="error"></span>
            <label for="screen">Dimensiones pantalla</label>
        </div>
        <div class="input-form">
            <input type="text" name="camera" id="camera" value="<%= oldData ? oldData.camera : "" %>"/> <% if (errors && errors.camera) { %>
                <p class="error-msg"><%= errors.camera.msg %></p>
                <% } %>
                <span class="error"></span>
            <label for="camera">Camara principal</label>
        </div>
        <button type="submit" class="boton-formulario">Publicar</button>
        <button type="reset" class="boton-formulario">Borrar</button>
        <button class="boton-formulario">
            <a href="/products/crud">Volver</a>
        </button>
    </form>
   
<footer class="footer">
    <%- include("partials/footer") %>
</footer>

    </body>
</html>