<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Products PY Grupo 3</title>
    <link href="/css/styleProducts.css" rel="stylesheet"/>
    <link href="/css/styleMain.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <%- include("partials/header") %>  
    </header>

    <main>
        <div class = "product-items">
            <% products.forEach(product => {%>
            <a href="/products/<%= product.id %>"> 
                <div class = "product">
                    <div class = "product-content">
                        <div class = "product-img">
                            <img src="<%= product.imagen.img1 %>" alt = "<%= product.nombre %>">
                        </div>
                        <div class = "product-btns">
                            <button type = "button" class = "btn-cart"> Añadir al carrito
                                <span><i class = "fas fa-plus"></i></span>
                            </button>
                            <button type = "button" class = "btn-buy"> Comprar ahora
                                <span><i class = "fas fa-shopping-cart"></i></span>
                            </button>
                        </div>
                    </div>
    
                    <div class = "product-info">
                        <div class = "product-info-top">
                            <h2 class = "sm-title"><%= product.marca %></h2>
                            <div class = "rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "far fa-star"></i></span>
                            </div>
                        </div>
                        <a href = "#" class = "product-name"><%= product.nombre %></a>
                        <p class = "product-price">$ <%= product.precio %></p>
                        <p class = "product-price">$ <%= product.priceWithDiscount %></p>
                    </div>
                    <% if(product.descuento > 0){ %>
                    <div class = "off-info">
                        <h2 class = "sm-title"><%= product.descuento %>% off</h2>
                    </div>
                    <% } %>
                </div>
            </a>
            <%   }) %>
        </div>  
    </main>

    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>