<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Delete Product</title>
    <link rel="stylesheet" href="/css/styleMain.css">
    <link rel="stylesheet" href="/css/styleProductDelete.css">
    <script src="/js/burgerMenu.js" defer></script>
</head>
<body>
    <header class="header">
    <%- include("partials/header") %>
    </header>
    <form action="/products/destroy/<%= product.id_product %>?_method=DELETE" method="POST" class="formulario">
        <h1 class="titulo-formulario">¿Esta seguro que desea eliminar este producto?</h1>
        <div class="input-form">
            <div class = "product-img">
                <img src="<%= product.image[0].url_image %>" alt = "<%= product.name %>">
            </div>
        </div>
        <div class="input-form">
            <input type="text" name="brand" value="<%= product.brand %>" disabled>
        </div>
        <div class="input-form">
            <input type="text" name="name" value="<%= product.name %>" disabled>
        </div>
        <div class="input-form">
            <input type="number" name="price" value="<%= product.price %>" disabled>
        </div>
        <div class="input-form">
            <input type="number" name="discount" value="<%= product.discount %>" disabled>
        </div>
        <div class="input-form">
            <input type="number" name="rating" value="<%= product.rating %>" disabled>
        </div>
        <div class="input-form">
            <% if (product.featured == "0") { %>
            <input type="text" name="featured" value="Normal" disabled>
            <% } else { %>
                <input type="text" name="featured" value="Destacado" disabled>
            <% } %>
        </div>
        <div class="input-form">
            <input type="text" name="os" value="<%= product.os %>" disabled>
        </div>
        <div class="input-form">
            <input type="text" name="screen" value="<%= product.screen %>" disabled>
        </div>
        <div class="input-form">
            <input type="text" name="camera" value="<%= product.camera %>" disabled>
        </div>
        <button type="submit" class="boton-formulario">Eliminar</button>
        <button class="boton-formulario">
            <a href="/products/crud">Volver</a>
        </button>
    </form>
   
<footer class="footer">
    <%- include("partials/footer") %>
</footer>

    </body>
</html>