<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Products</title>
    <link href="/css/styleProducts.css" rel="stylesheet"/>
    <link href="/css/styleMain.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <%- include("partials/header") %>  
    </header>

    <main>
        <div class = "product-items">
            <% for (let i = 0; i < products.length; i++) { %>  
            <a href="/products/<%= products[i].id_product %>"> 
                <div class = "product">
                    <div class = "product-content">
                        <div class = "product-img">
                            <img src="<%= products[i].image[0].url_image %>" alt = "<%= products[i].name %>">
                        </div>
                        <div class = "product-btns">
                            <button type = "button" class = "btn-cart"> Añadir al carrito
                                <span><i class = "fas fa-plus"></i></span>
                            </button>
                            <button type = "button" class = "btn-buy"> Comprar ahora
                                <span><i class = "fas fa-shopping-cart"></i></span>
                            </button>
                        </div>
                    </div>
    
                    <div class = "product-info">
                        <div class = "product-info-top">
                            <h2 class = "sm-title"><%= products[i].brand.brand %></h2>
                            <div class = "rating">
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "fas fa-star"></i></span>
                                <span><i class = "far fa-star"></i></span>
                            </div>
                        </div>
                        <a href = "#" class = "product-name"><%= products[i].name %></a>
                        <div>
                            <% if(products[i].discount == 0){ %>
                                <p class = "product-price"><%= products[i].price %></p>
                            <% } else {%>
                                <p class = "product-price product-price-withoutdiscount"><%= products[i].price %></p>
                                <p class = "product-price"><%= products[i].priceWithDiscount %></p>
                            <% } %>
                        </div>
                       
                    </div>
                    <% if(products[i].discount > 0){ %>
                    <div class = "off-info">
                        <h2 class = "sm-title"><%= products[i].discount %>% off</h2>
                    </div>
                    <% } %>
                </div>
            </a>
            <%   } %>
        </div>  
    </main>

    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>