<!DOCTYPE html>
<html lang="es">
    <class><%- include("partials/head") %>
    <title>Register PY Grupo 3</title>
    <link rel="stylesheet" href="css/styleRegister.css">
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/js/registerValidator.js" defer></script>
    <!--<script src="/js/errorsForm.js" defer></script>-->
<body>
    <header>
        <%- include("partials/header") %>  
    </header>    
    <form action="/register" method="POST" class="formulario" id="form" enctype="multipart/form-data">
        <h1 class="titulo-formulario">Registro</h1>
        <div class="control-formulario">
            <h5>Nombre</h5>
            <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" class="control" value="<%= oldData ? oldData.nombre : "" %>"/> <% if (errors && errors.nombre) { %>
            <p class="error-msg"><%= errors.nombre.msg %></p>
            <% } %>
            <span class="error"></span>
        </div>
        <div class="control-formulario">
            <h5>Apellido</h5>
            <input type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido" class="control" value="<%= oldData ? oldData.apellido : "" %>"/> <% if (errors && errors.apellido) { %>
            <p class="error-msg"><%= errors.apellido.msg %></p>
            <% } %>
            <span class="error"></span>
        </div>
        <div class="control-formulario">
            <h5>Nombre de usuario</h5>
            <input type="text" name="usuario" id="usuario" placeholder="Ingrese su nombre de usuario" class="control" value="<%= oldData ? oldData.usuario : "" %>"/> <% if (errors && errors.usuario) { %>
            <p class="error-msg"><%= errors.usuario.msg %></p>
            <% } %>
            <span class="error"></span>
        </div>
        <div class="control-formulario">
            <h5>Email</h5>
            <input type="text" name="email" id="email" placeholder="Ingrese su correo electrónico" class="control" value="<%= oldData ? oldData.email : "" %>"/> <% if (errors && errors.email) { %>
            <p class="error-msg"><%= errors.email.msg %></p>
            <% } %>
            <span class="error"></span>
        </div>
        <div class="control-formulario">
            <h5>Contraseña</h5>
            <input type="password" name="contrasenia" id="contrasenia" placeholder="Ingrese su contraseña" class="control" value="<%= oldData ? oldData.contrasenia : "" %>"/> <% if (errors && errors.contrasenia) { %>
            <p class="error-msg"><%= errors.contrasenia.msg %></p>
            <% } %>
            <span class="error"></span>
        </div>
        <div class="control-formulario">
            <h5>Confirme su contraseña</h5>
            <input type="password" name="contrasenia2" id="contrasenia2" placeholder="Confirme contraseña" class="control" value="<%= oldData ? oldData.contrasenia2 : "" %>"/> <% if (errors && errors.contrasenia2) { %>
            <p class="error-msg"><%= errors.contrasenia2.msg %></p>
            <% } %>
            <span class="error"></span>
        </div>
        <div class="control-formulario">
            <h5>Suba una imagen</h5>
            <input type="file" name="images" id="images" accept="images/*" class="control" value="<%= oldData ? oldData.images : "" %>"/> <% if (errors && errors.images) { %>
            <p class="error-msg"><%= errors.images.msg %></p>
            <% } %>
            <span class="error"></span>
        </div>
        <button type="submit" class="boton-formulario">Registrarse</button>
        <button type="reset" class="boton-formulario2">Borrar</button>
        <div class="login">¿Ya tienes cuenta? <a href="/login">Iniciar sesión</a></div>
    </form>

    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>