<!DOCTYPE html>
<html lang="es">
    <class><%- include("partials/head") %>
    <title>Register</title>
    <link href="/css/styleRegister.css" rel="stylesheet"/>
    <link href="/css/styleMain.css" rel="stylesheet"/>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/js/registerValidator.js"></script>
    <script src="/js/errorsForm.js" defer></script>
    <script src="/js/burgerMenu.js" defer></script>
<body>
    <header>
        <%- include("partials/header") %>  
    </header>    
    
    <main>
        <form action="/register" method="POST" class="form my-form" id="form" enctype="multipart/form-data">
            <h1>Registrarse</h1>
            <div class="full-input-div">
                <div class="control-formulario">
                    <input type="text" name="name" id="name" class="full-input" placeholder="Nombre" value="<%= oldData ? oldData.name : "" %>"/> <% if (errors && errors.name) { %>
                        <p class="error-msg"><%= errors.name.msg %></p>
                        <% } %>
                        <span class="error"></span>
                </div>
                <div class="control-formulario">
                    <input type="text" name="last_name" id="last_name" class="full-input" placeholder="Apellido" value="<%= oldData ? oldData.last_name : "" %>"/> <% if (errors && errors.last_name) { %>
                        <p class="error-msg"><%= errors.last_name.msg %></p>
                        <% } %>
                        <span class="error"></span>
                </div>
                <div class="control-formulario">
                    <input type="text" name="username" id="username" class="full-input" placeholder="Nombre de usuario" value="<%= oldData ? oldData.username : "" %>"/> <% if (errors && errors.username) { %>
                        <p class="error-msg"><%= errors.username.msg %></p>
                        <% } %>
                        <span class="error"></span>
                </div>
                <div class="control-formulario">
                    <input type="text" name="email" id="email" class="full-input" placeholder="Email" value="<%= oldData ? oldData.email : "" %>"/> <% if (errors && errors.email) { %>
                        <p class="error-msg"><%= errors.email.msg %></p>
                        <% } %>
                        <span class="error"></span>
                </div>
                <div class="control-formulario">
                    <input type="password" name="password" id="password" class="full-input" placeholder="Contraseña" value="<%= oldData ? oldData.password : "" %>"/> <% if (errors && errors.password) { %>
                        <p class="error-msg"><%= errors.password.msg %></p>
                        <% } %>
                        <span class="error"></span>
                </div>
                <div class="control-formulario">
                    <input type="password" name="password2" id="password2" class="full-input" placeholder="Confirme su contraseña" value="<%= oldData ? oldData.password2 : "" %>"/> <% if (errors && errors.password2) { %>
                        <p class="error-msg"><%= errors.password2.msg %></p>
                        <% } %>
                        <span class="error"></span>
                </div>
                <div class="control-formulario">
                    <input type="file" name="profile_picture" id="profile_picture" accept="images/*" class="full-input" value="<%= oldData ? oldData.profile_picture : "" %>"/> <% if (errors && errors.profile_picture) { %>
                        <p class="error-msg"><%= errors.profile_picture.msg %></p>
                        <% } %>
                        <span class="error"></span>
                </div>
            <p class="full-input"><input type="checkbox" name="terms" id="terms" required> Acepto los <a href="#">Términos de Uso</a> y las <a href="#">Políticas de Privacidad</a></p>
            <button type="submit" class="full-input" id="register">Registrarse</button>
            </div>
        
        </form>
        
        <p id="sign-in">¿Ya tienes una cuenta? <a href="/login">Inicia Sesión</a></p>
    </main>

    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>