<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Home</title>
    <link href="/css/styleHome.css" rel="stylesheet"/>
    <link href="/css/styleMain.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/js/favoriteProduct.js" defer></script>
    <script src="/js/burgerMenu.js" defer></script>
</head>
<body>
    <header>
        <%- include("partials/header") %>  
    </header>
    <section class="home">
        <video autoplay loop muted plays-inline class="back-video" src="/images/video_home.mp4"></video>
        <div class="text-banner">
            <h1>¡Nuevos Samsung Galaxy Z!</h1>
            <p>Llevate los nuevos Samsung Galaxy Z Flip 5 y Samsung Galaxy Z Fold 5, con hasta 12 CSI y envío gratis.</p>
            <div class="btn-banner">
                <a>Más información</a>
                <a href="/productCart">Comprar</a>
            </div>
        </div>
        
    </section>
    <main>
        <h2 class="titulares">¡Últimos lanzamientos!</h2>
        <section class="productos">  
            <% for (let i = 0; i < featuredProducts.length; i++) {  %>
                <div class="product-card">
                    <div class="product-img-container">
                        <div class="product-img">
                            <a class="block" href="/products/detail/<%= featuredProducts[i].id_product %>">
                                <img class="img-prod" src="<%= featuredProducts[i].image[0].url_image %>" alt="<%= featuredProducts[i].name %>">
                            </a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h2 class="product-title"><%= featuredProducts[i].name %></h2>
                        <p class="product-description"><%= featuredProducts[i].featured_desc %></p>
                        <% if(featuredProducts[i].discount == 0){ %>
                            <p class="product-price"><%= featuredProducts[i].price %></p>
                        <% } else {%>
                            <p class="product-price product-price-withoutdiscount"><%= featuredProducts[i].price %></p>
                            <p class="product-price"><%= featuredProducts[i].priceWithDiscount %></p>
                        <% } %>
                      <div class="icon-container">
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-shopping-cart cart-icon"></i>
                      </div>
                    </div>
                  </div>
            <%  } %>
        </section>
        <h2 class="titulares">Últimas noticias</h2>
        <section class="noticias">  
            <article class="box-effect-not not">
                <img class="not-img-box" src="/images/noticia1.jpg" alt='noticia1'>  
                <div class="info-noticia">
                    <h3>Titulo Noticia 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ducimus fugit placeat, nemo quos mollitia.</p>
                    <a href="#">Leer más</a>
                </div>             
            </article>
            <article class="box-effect-not not">
                <img class="not-img-box" src="/images/noticia2.jpg" alt='noticia2'>  
                <div class="info-noticia">
                    <h3>Titulo Noticia 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ducimus fugit placeat, nemo quos mollitia.</p>
                    <a href="#">Leer más</a>
                </div>             
            </article>
            <article class="box-effect not">
                <img class="not-img-box" src="/images/noticia3.jpg" alt='noticia3'>  
                <div class="info-noticia">
                    <h3>Titulo Noticia 3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi ducimus fugit placeat, nemo quos mollitia.</p>
                    <a href="#">Leer más</a>
                </div>             
            </article>
        </section>
    </main>
    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>