<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
    <title>Products</title>
    <link href="/css/styleProducts.css" rel="stylesheet"/>
    <link href="/css/styleMain.css" rel="stylesheet"/>
    <script src="/js/burgerMenu.js" defer></script>
    <script src="/js/favoriteProduct.js" defer></script>
    <!--<script src="/js/searchBar.js" defer></script>-->
</head>
<body>
    <header>
        <%- include("partials/header") %>  
    </header>

    <main>
        <h1>Listado de Productos</h1>
        <!--<div class="search-bar">
            <label for="search">Busqueda de Productos</label>
            <input type="search" id="search">
        </div>-->
        <div class="products-list">
            <% for (let i = 0; i < products.length; i++) { %>
                <div class="product-card">
                    <% if(products[i].discount > 0){ %>
                        <div class="badge"><%= products[i].discount %>% off</div>
                    <% } %>
                    <a href="/products/detail/<%= products[i].id_product %>">
                    <div class="product-tumb">
                            <img src="<%= products[i].image[0].url_image %>" alt = "<%= products[i].name %>">
                    </div>
                    </a>
                    <div class="product-details">
                        <span class="product-catagory"><%= products[i].brand.brand %></span>
                        <h4><a href="/products/detail/<%= products[i].id_product %>" class="prod-name"><%= products[i].name %></a></h4>
                        <p><%= products[i].description.slice(0, 200)+'...' %><a href="/products/detail/<%= products[i].id_product %>"> Leer más</a></p>
                        <div class="product-bottom-details">
                            <% if(products[i].discount == 0){ %>
                                <div class="product-price"><%= products[i].price %></div>
                            <% } else {%>
                                <div class="product-price"><small><%= products[i].priceWithDiscount %></small><%= products[i].price %></div>
                            <% } %>    
                            <div class="product-links">
                                <i class="fa fa-heart"></i>
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            <%   } %>
        </div>
    </main>

    <footer class="footer">
        <%- include("partials/footer") %>
    </footer>
</body>
</html>